.header {
    position: absolute;
    top: var(--mantine-spacing-xs);
    width: 100%;
    z-index: 1;
}

.inner {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-xs);
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--mantine-color-white);
    border-radius: var(--mantine-radius-lg);
}

.logo {
    height: 84px;
    padding-left: var(--mantine-spacing-xs);
}

.logo:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.2s ease;
}

.links {
    display: flex;
    align-items: center;
    padding-right: var(--mantine-spacing-xs);
}